@import "../styles/_variables.scss";
@import "../styles/_keyframe-animations.scss";
@import "tailwindcss";
@plugin './hero.ts';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));
:root *:not([data-slot]) {
  transition-property: all !important;
  transition-duration: 200ms !important;
  transition-timing-function: ease-in-out !important;
}